/*====================================================*/
/*=== fonts ====*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,900");
/*===== color =====*/
/*====================================================*/
/*====================================================*/
a {
  text-decoration: none;
}
body {
  height: 1500px;
}
a:hover,
a:focus {
  text-decoration: none;
}

header .navbar-brand img {
  width: 100px;
}

header nav {
  transition: background-color 0.6s;
  padding: 20px !important;
}

header nav .navbar-collapse ul li {
  padding: 0px 10px !important;
  font-size: 20px;
  font-weight: 500;
}

header nav .navbar-collapse .nav-item .nav-link {
  font: 500 15px "Poppins", sans-serif !important;
  color: #f3f3f3 !important;
  position: relative;
}
header nav.fixed .navbar-collapse .nav-item .nav-link {
  color: #13214b !important;
}

header nav.fixed {
  background-color: #f9f9f9;
}

header nav .navbar-collapse .nav-item .nav-link::after {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 1px !important;
  background: #f3f3f3;
  content: "";
  opacity: 0;
  -webkit-transition: height 0.3s, opacity 0.3s, -webkit-transform 0.3s;
  -moz-transition: height 0.3s, opacity 0.3s, -moz-transform 0.3s;
  transition: height 0.3s, opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(-10px);
  -moz-transform: translateY(-10px);
  transform: translateY(-10px);
}

header nav .navbar-collapse .nav-item .nav-link:hover::after,
header nav .navbar-collapse .nav-item .nav-link:focus::after {
  height: 3px !important;
  opacity: 1 !important;
  -webkit-transform: translateY(-5px) !important;
  -moz-transform: translateY(-5px) !important;
  transform: translateY(-5px) !important;
  border: none !important;
}
/* 
header nav .navbar-collapse .nav-item .nav-link::before {
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background: #0883a4;
  transform: translateX(-100%);
}
header nav .navbar-collapse .nav-item .nav-link:hover::before {
  transform: translateX(0);
} */

header nav .navbar-collapse .btn-get {
  border: 2px solid #ccc5fa;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn-get {
  font: 500 14px/47px "Poppins", sans-serif;
  color: #f3f3f3;
  border: 2px solid #ccc5fa;
  border-radius: 4px;
  -webkit-box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
  box-shadow: 0px 20px 24px 0px rgba(0, 11, 40, 0.1);
  padding: 0px 23px;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  -webkit-transition-property: color;
  -o-transition-property: color;
  transition-property: color;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  min-width: 120px;
  text-align: center;
}

.btn-hover {
  overflow: hidden;
  display: inline-block;
  font-weight: 500;
  font-size: 14px;
  font-family: "Poppins", sans-serif;
  z-index: 1;
  cursor: pointer;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}
header nav.fixed .navbar-collapse .btn-get{
  color: #5e2ced;
}
header nav .navbar-collapse .btn-get:hover {
  color: #f3f3f3;
  background: #5e2ced !important;
  border-color: #6754e2 !important;
  text-decoration: none;
}

header {
  text-align: center;
  background: rgb(164, 132, 253);
  background: linear-gradient(
    90deg,
    rgba(164, 132, 253, 1) 0%,
    rgba(96, 48, 238, 1) 100%
  );
}

header .header {
  padding-top: 300px;
  padding-bottom: 200px;
  color: #f3f3f3;
}

header .header h1 {
  font-size: 55px;
  font-weight: bolder;
}

header .header p {
  font-size: 20px;
  font-weight: 400;
  width: 35%;
  margin: 0 auto;
}
